[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pandas = "*"
pysolr = "*"
pyyaml = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-mypy = "*"
pytest-pylint = "*"

[requires]
python_version = "3.7"
